<!DOCTYPE html>
<html>
<head>
  <title>UpStreamr</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <%= stylesheet_link_tag    'font-awesome.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'bundle' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
